.content{
	margin-left: 20px;
	margin-top: 10px;
}
.wrapper{
	width: 100%;
	min-height: 1000px;
	display: flex;
}
.top{
	padding: 0;
	margin: 0;
}
.menu-item:not(:last-child):after{
	content: "|";
	color: #4fbde1;
}
.right-nav {
	display: flex;
	justify-content: flex-end;
	list-style: none;
}
.right-nav .menu-item{
	font-family: Calibri, sans-serif;
	font-size: 14px;
}
.right-nav .right-nav-link{
	border: none;
	padding: 10px;
	color: #174f73;
}
.right-nav .right-nav-link:hover{
	text-decoration: none;
}
.banner-top{
	width: 100%;
	border-top-width: 5px;
	border-top-style: solid;
	border-top-color: #a6a9d6; 
}
.head-nav{
	display: flex;
	justify-content: flex-end;
	padding-right: 10%;
	margin-top: -3px;
	list-style-type: none;
	height: 40px;
	background: linear-gradient(to top, #a6a9d6, #f2f2f9);
	text-align: center;
}
.head-nav .head-nav-item{
	padding: 10px;
}
.head-nav .head-nav-link{
	border-bottom: none;
	color: #174f73;
	font-family: Calibri, sans-serif;
	font-size: 16px;
	font-weight: bold; 
	text-decoration: none;
	text-shadow: 1px 1px 1px #ffffff;
}
.head-nav .head-nav-item:hover{
	background: linear-gradient(to top, #226a96, #c6e1ec);
	color: #ffffff;
}
.head-nav .head-nav-link:hover{
	color: #ffffff;
}
.sidebar{
	margin-top: -16px;
	width: 20%;
	height: 765px;
	background-color: #e8e7f0;
}
.sidebar .sidebar-heading{
	margin-top: -1px;
	padding-left: 30px;
	padding-top: 7px;
	background-color: #7472b2;
	height: 30px;
	font-family: Calibri, sans-serif;
	color: white;
	}
.nav-bar .bullet{
	list-style-image: url(../images/bullet.png);
	line-height: 2em;
}
.nav-bar .nav-bar-link{
	font-family: Calibri, sans-serif;
	color: #174f73;
}
.nav-bar .nav-bar-link:hover{
	text-decoration: none;
}
.main-content{
}

.main-content .main-content-heading{
	font-family: Calibri, sans-serif;
	color: #174f73;
	font-size: 36px;
}

.line{
	border-top: 3px solid grey;
	border-bottom: 3px solid grey;
	margin-bottom: 30px;
}
.photo{
	float: left;
	padding: 0;
	margin: 20px 20px 20px 0;
}
.bott-nav{
	display: flex;
	flex-flow: row;
	justify-content: center;
	list-style-type: none;
}
.bott-nav .menu-item{
	font-family: Calibri, sans-serif;
	font-size: 14px;
}
.bott-nav .bott-nav-link{
	border: none;
	padding: 10px;
	color: #174f73;
}
.bott-nav .bott-nav-link:hover{
	text-decoration: none;
}
.bottom{
	background-color: #7472b2;
	height: 70px;
}
.logo-bott{
	float: right;
}
.contact-info{
	padding: 10px;
	font-family: Verdana, "Times New Roman";
	font-size: 12px;
	color: white;
	font-style: normal;
	text-align: start;
}
.contacts{
	margin-top: 0;
	margin-bottom: 0;
	margin-left: -40px;
}
.contacts .contact-menu-item{
	display: inline;
}
.contacts .contacts-link{
	border-bottom: none;
	text-decoration: none;
	color: white;
}
.contacts .contacts-link:hover{
	text-decoration: underline; 
}
.contact-menu-item:not(:last-child):after{
	content: "|";
	color: white;
}
.logo-bott{
	padding: 20px;
}